* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    
}
/* Format for background color */
body {
    background-color: #d9dcd6;
}

/*Format for header sectioionon */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;  
    
}
/* Format for Horiseon title */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Format for "seo" in Horiseon title*/
.seo {
    color: #d9dcd6;
    
}

/* Format of header section */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;                                          
}

/* Format for list items */
li {
    display: inline-block;
    margin-left: 25px;

    
}

/* Formatting for text */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Formatting for paragraphs */
p {
    font-size: 16px;
}

/* Formatting for main photo on page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Format for image to appear on left side of text box*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Format for image to appear on right side of text boxx */
.float-right {
    float: right;
    margin-left: 25px;
    
}

/* Format for blocks of options */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Format for box for benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Format for the list of benefits */
.benefit-list {
    margin-bottom: 32px;
    color: #ffffff;
}


/* Format for the benefits titles */
.benefit-list h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Format for images in benefits section */
.benefit-list img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Format for the options section */
.options {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Format for how the images in the options appear*/
.options img {
    max-height: 200px;
}

/*Format for the text in the options */
.options h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Format for how the footer appears*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: none;
}

/*Format of footer h4 */
.footer h4 {
    font-size: 20px;
}
